*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.input{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    padding: 5px;
}
.btn{
    height: 40px;
    margin: 0;
    background-color:rgb(232, 232, 232);
    margin: 0 10px;
}
.todo_list{
    background-color:rgb(232, 232, 232);
    border-radius: 20px;
    padding: 30px;
}
.todo_list ul li {
    border-bottom: 1px rgb(173, 173, 173) solid;
    padding: 20px 50px;
    font-size: 1.2rem;
}
.fa-solid{
    font-size: 1.5rem;
}
.cancelled{
    text-decoration: line-through;
}